.cardCareers{
    width: 100%;
    height: auto;
}

.contenedor-general-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 30px;
}

.career-div-container{
    display: flex;
}

.program-card-container-div{
    width: 400px;
    height: auto;
    border-radius: 15px;
    border: 0.5px solid grey;
}

.Img-program{
    width: 398px;
    border-radius: 15px;
}

 .NameProgram{
    display: flex;
    align-items: center;
 }

 PaintBucket{
    background-color: goldenrod;
    color: black;
    padding: 10px;
 }

 .container-info-container-theacher{
    display: flex;
    align-items: center;
    gap: 10px;
 }

 .card-info-container-program{
    gap: 43px;
    display: flex;
    flex-direction: column;
}
 
 


